<div class="backdrop">
  <dialog open>
    <h2>Add task</h2>
    <form>
      <p>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" />
      </p>

      <p>
        <label for="summary">Summary</label>
        <textarea id="summary" name="summary" rows="5"></textarea>
      </p>

      <p>
        <label for="due-date">Due date</label>
        <input id="due-date" name="due-time" type="date" />
      </p>

      <p class="actions">
        <button type="button">Cancel</button>
        <button type="submit">Create</button>
      </p>
    </form>
  </dialog>
</div>
