<div>
  <button (click)="onSelectUser()" [class.active]="selected">
    <!--    <img [src]="'/assets/users/' + selectedUser.avatar" [alt]="selectedUser.name">-->
    <!--    selectedUser() -> posiada () ponieważ wymaga tego siganl()
        aby pokazać konkretną wartość która jest przechowywana w signal()-->
    <!--    jeżeli właściwość jest przechowywana jako wartość w signal() to należy wywołołać ją jako funkcję-->
    <img [alt]="user.name" [src]="imagePath"/>
    <span> {{ user.name }}</span>
  </button>
</div>
